# Python project configuration

[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
    | \.venv
    | __pycache__
    | migrations
    | node_modules
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = [".git", ".venv", "__pycache__", "migrations", "node_modules"]

[tool.flake8]
max-line-length = 100
ignore = ["E501", "W503"]
exclude = [".git", ".venv", "__pycache__", "migrations", "node_modules"]
